
@{
    ViewBag.Title = "Members";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Members</h2>

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Members </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/home/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="css/font-awesome/css/all.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/responsive.css">



</head>

<body>



    <!-- Main Body-->
    <section id="mains">

        <div class="container">
            <div class="middle-head">
                <p> Members </p>

                <form>
                    <div class="search form-inline">
                        <div class="searchContainer form-group">
                            <i class="fas fa-search form-control-feedback "></i>
                            <input type="text" class="form-control" placeholder="Search" />
                        </div>
                    </div>
                    <div class="bttn">
                        <button type="submit" class="btn allBtn">SEARCH</button>
                    </div>
                </form>

            </div>



            <div class="row members-table">

                <div class="col-md-12">
                    <div class="table-responsive{-sm|-md|-lg|-xl} data-table mem_table">
                        <table class="table table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th class="text-center">SR NO.</th>
                                    <th>FIRST NAME</th>
                                    <th>LAST NAME</th>
                                    <th>EMAIL</th>
                                    <th>JOINING DATE</th>
                                    <th class="text-center">UNDER REVIEW <br> NOTES</th>
                                    <th class="text-center">PUBLISHED <br> NOTES</th>
                                    <th class="text-center">DOWNLOADED <br> NOTES</th>
                                    <th class="text-center">TOTAL <br> EXPENSES</th>
                                    <th class="text-center">TOTAL <br> EARNINGS</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Khayati</td>
                                    <td>Patel</td>
                                    <td>khayatipatel@gmail.com</td>
                                    <td>09-10-2020, 10:10</td>
                                    <td>19</td>
                                    <td>10</td>
                                    <td>22</td>
                                    <td>$220</td>
                                    <td>$177</td>
                                    <td>
                                        <span>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Rahul</td>
                                    <td>Shah</td>
                                    <td>rahulshah@gmail.com</td>
                                    <td>10-10-2020, 11:25</td>
                                    <td>4</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>$220</td>
                                    <td>$177</td>
                                    <td>
                                        <span>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Suman</td>
                                    <td>Trivedi</td>
                                    <td>sumantrivedi@gmail.com</td>
                                    <td>11-10-2020, 01:00</td>
                                    <td>12</td>
                                    <td>11</td>
                                    <td>17</td>
                                    <td>$886</td>
                                    <td>$978</td>
                                    <td>
                                        <span>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Raj</td>
                                    <td>Malhotra</td>
                                    <td>rajmalhotra77@gmail.com</td>
                                    <td>12-10-2020, 10:10</td>
                                    <td>2</td>
                                    <td>123</td>
                                    <td>28</td>
                                    <td>$1284</td>
                                    <td>$15254</td>
                                    <td>
                                        <span>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Niya</td>
                                    <td>Patel</td>
                                    <td>niyapatel12@gmail.com</td>
                                    <td>13-10-2020, 11;25</td>
                                    <td>20</td>
                                    <td>1</td>
                                    <td>0</td>
                                    <td>$0</td>
                                    <td>$69</td>
                                    <td>
                                        <span>
                                            <i class="fa fa-ellipsis-v"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Custom JS -->
    <script src="js/script.js"></script>

</body>

</html>
