body {
    padding-top: 80px;
}


/* ###### Dashboard profile dubmenu ######## */

.dash-header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 60px 0px 30px 0px;
}

    .dash-header > p {
        color: #6255a5;
        margin-top: 15px;
        font-size: 34px;
        font-weight: 600;
        line-height: 38%;
    }

/* For all icon in webapp */
i {
    color: #8a8a8a;
}

/* For all Buttons */

.main_btn {
    background-color: #6255a5 !important;
    color: #fff !important;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 22px;
    border: none;
    outline: none;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: 0 0 0 0.2rem rgba(98, 85, 165,0.25);
}

.form-control:focus {
    border-color: #6255a5 !important;
    box-shadow: 0 0 0 0.2rem rgba(98, 85, 165, 0.25) !important;
}


.allBtn {
    color: #fff !important;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 22px;
    font-style: Bold(700);
    border: none;
    outline: none;
}


.btn-top {
    border-radius: 3px;
    width: 112px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 22px;
    border: none;
    outline: none;
    color: white !important;
    font-weight: 600 !important;
}

.btn-approve {
    background-color: #28a745 !important;
    height: 40px;
    margin-right: 5px;
}

.btn-reject {
    background-color: #ff3636 !important;
    height: 40px;
    margin-right: 5px;
}

.btn-inreview {
    background-color: #cccccc !important;
    height: 40px;
    margin-right: 5px;
}


/* ####### For Grid Boxes ######### */

.box1 {
    padding: 10px 10px 10px 10px;
    width: 180px;
    height: 140px;
    border: 2px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box2 {
    padding: 10px 10px 10px 10px;
    width: 190px;
    height: 140px;
    border: 2px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box3 {
    padding: 10px 10px 10px 10px;
    width: 185px;
    height: 140px;
    border: 2px solid #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box2 {
    border-right: 0px;
}

.box3 {
    border-left: 0px;
}

.money {
    display: flex !important;
    align-items: center;
}

#dollar {
    color: #6255a5;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 20px;
}



.box4,
.box5,
.box6 {
    padding: 10px 10px 10px 10px;
    width: 165px;
    height: 140px;
    border: 1px solid #d1d1d1;
    margin: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 50px;
}



/* ######## For Counter ##### */

.counter {
    color: #6255a5;
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 20px;
}

.box1 > p {
    color: #6255a5;
    font-size: 25px;
    font-weight: 600;
}


/* #### my-download page ##### */

.middle,
.bottom {
    margin-top: 50px;
}

/* ########## for all search using in webapp ##########*/


.search {
    display: flex;
    align-items: center;
    width: 322px;
    height: 50px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.searchContainer .form-control {
    padding-left: 2.375rem;
    width: 322px;
    height: 48px;
    line-height: 20px;
}


.searchContainer .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* For search button*/


.bttn {
    display: flex;
    padding: 10px;
    margin-right: -10px;
}

    .bttn > button {
        padding-left: 10px;
        width: 117px;
        height: 50px;
        background-color: #6255a5;
    }

.searchContainer {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
}

    .searchContainer > input {
        padding-left: 10px;
        flex: 1;
        border: none;
        outline-width: 0px;
    }


/* ########### All middle header name (ex. published notes)  ########### */

.middle-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown_tic {
    margin-top: -10px;
    margin-bottom: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.mid-head > form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#tit {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-top: 50px;
}

.middle-head > p {
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
}


.middle-head > form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.space {
    margin-bottom: 50px;
}

/* ########## Dropdown menu ############ */

.dropdown1 {
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
    border: 1px solid #d1d1d1;
}

.dropdown > i {
    margin-right: 10px;
}




/*####### For all table in webapp ##########*/

.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-right: 0;
    border-left: 0;
}

tbody > tr:hover {
    transform: scale(1.001);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.001);
    -moz-transform: scale(1.001);
    -ms-transform: scale(1.001);
    -o-transform: scale(1.001);
}

.data-table {
    overflow-x: auto hidden;
    overflow-y: hidden;
}

.dashboard > table > tbody > tr > :nth-child(1),
.dashboard > table > tbody > tr > :nth-child(4),
.dashboard > table > tbody > tr > :nth-child(5),
.dashboard > table > tbody > tr > :nth-child(9),
.download_page > table > tbody > tr > :nth-child(1),
.download_page > table > tbody > tr > :nth-child(6),
.sold_notes > table > tbody > tr > :nth-child(1),
.sold_notes > table > tbody > tr > :nth-child(6),
.buyer_request > table > tbody > tr > :nth-child(1),
.published_table > table > tbody > tr > :nth-child(1),
.published_table > table > tbody > tr > :nth-child(10),
.rejected_table > table > tbody > tr > :nth-child(1),
.down_table > table > tbody > tr > :nth-child(1) {
    text-align: center;
}

.rejected_notes > table > tbody > tr > :nth-child(1) {
    padding-left: 30px;
}

.dashboard > table > tbody > tr > :nth-child(2),
.download_page > table > tbody > tr > :nth-child(2),
.rejected_notes > table > tbody > tr > :nth-child(2),
.rejected_notes > table > tbody > tr > :nth-child(5),
.sold_notes > table > tbody > tr > :nth-child(2),
.buyer_request > table > tbody > tr > :nth-child(2),
.published_table > table > tbody > tr > :nth-child(2),
.published_table > table > tbody > tr > :nth-child(10),
.rejected_table > table > tbody > tr > :nth-child(2),
.down_table > table > tbody > tr > :nth-child(2) {
    color: #6255a5;
}



th {
    vertical-align: middle !important;
}



/*############ Pagination ########*/


.pagination {
    display: inline-block;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px
}

    .pagination > a {
        color: #333333;
        float: left;
        width: 34px;
        height: 34px;
        padding: 6px 12px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none !important;
        border-radius: 50%;
        transition: background-color .3s;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

        .pagination > a.active {
            background-color: #6255a5;
            color: white;
        }

        .pagination > a:hover:not(.active) {
            background-color: #ddd;
            color: black;
        }



/*########## Modal Popup Add review ############*/
.modal-header_container {
    color: #6255a5;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
}

.review {
    color: #fff;
    width: 580px;
    height: 50px;
    margin-top: 30px;
}

    .review > i {
        margin-left: 30px;
    }

    .review > .fas {
        color: #ffc107;
    }

#input {
    margin-left: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100px;
    width: 300px;
    padding-top: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 50px !important;
    outline: 0px;
    resize: none;
    -webkit-border-radius: 50px !important;
    -moz-border-radius: 50px !important;
    -ms-border-radius: 50px !important;
    -o-border-radius: 50px !important;
}


/* ######## HOME PAGE ######### */

.img {
    background-image: url("../images/home/banner-with-overlay.jpg");
    background-position: top center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 400px;
    background-size: 100% 100%;
    /* background-size: 300px 100px; */
}

.header .navbar-default {
    background: none;
}


.title1 {
    font-size: 43px;
    font-weight: 700;
    line-height: 54px;
    color: #ffffff;
    line-height: 54px;
    margin-top: 125px;
}

.title2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #ffffff;
}

.learnMore {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    width: 150px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    height: 40px;
}

    .learnMore > input {
        padding-top: 5px;
        margin-left: 18px;
        font-weight: 600;
        font-size: 17px;
        display: block;
        background-color: transparent;
        color: white;
        border: none;
        outline: none;
    }

.about_mktplace {
    margin-top: 60px;
    display: flex;
}

.para > p {
    font-size: 18px;
    font-weight: 400;
}

.how_works {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 60px 0px 60px 0px;
}

.content1 > h4, .content1 > p, .content2 > h4, .content2 > p {
    text-align: center;
}

h4 {
    color: #6255a5;
}

h3 {
    color: #6255a5;
}

h1 {
    color: #6255a5;
}

.icon {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
    padding-top: 30px;
    padding-left: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 25px;
}

    .icon > img {
        width: 60px;
        height: 60px;
        align-items: center;
    }

.customer_custo_review {
    margin-top: 60px;
    margin-bottom: 20px;
}

.customer_review {
    padding-bottom: 300px;
}

.customer_box {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
}

.custo_img {
    padding-left: 30px;
    padding-top: 30px;
}

.custo_info {
    margin: 40px 0px 0px 20px;
}

    .custo_info > p {
        font-size: 16px;
    }

.custo_review {
    margin: 10px 0px 0px 20px;
}

.how_works {
    margin-top: 30px;
}


/********** some margin set****************/

.my_sold_notes, .rejected_notes, .downloads, .buyer_request {
    margin-top: 50px;
}

.navbar.solid {
    background-color: #490D40;
    transition: background-color 1s ease 0s;
    box-shadow: 0 0 4px grey;
}

.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}
