
@{
    ViewBag.Title = "BuyerRequest";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!--Important meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1">


    <!--Custom css-->
    <link href="~/Content/css/style.css" rel="stylesheet">

    <!-- Responsive css-->
    <link href="~/Content/css/responsive.css" rel="stylesheet">                                                                                                                              

</head>

<body>

    <section class="buyer_request">

        <div class="container">
            <div class="middle-head">
                <p>Buyer Requests</p>

                <form>
                    <div class="search form-inline">
                        <div class="searchContainer form-group">
                            <i class="fas fa-search form-control-feedback "></i>
                            <input type="text" class="form-control" placeholder="Search" />
                        </div>

                    </div>
                    <div class="bttn">
                        <button type="submit" class="btn allBtn">SEARCH</button>
                    </div>
                </form>
            </div>

            <div class="row buyers_requests">

                <div class="col-md-12">
                    <div class="table-responsive{-sm|-md|-lg|-xl} data-table buy_request">
                        <table class="table table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th>SR NO.</th>
                                    <th>NOTE TITLE</th>
                                    <th>CATEGORY</th>
                                    <th>BUYER</th>
                                    <th>PHONE No.</th>
                                    <th>SELL <br /> TYPE</th>
                                    <th>PRICE</th>
                                    <th class="text-center">DOWNLOADED <br> DATE/TIME </th>
                                    <th class="text-center"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Software Engineer</td>
                                    <td>IT</td>
                                    <td>arpitprajapati@gmail.com</td>
                                    <td>+91 8141539620</td>
                                    <td>Free</td>
                                    <td>$0</td>
                                    <td>09-10-2020, 10:10</td>
                                    <td><i class="far fa-eye"> </i> </td>
                                    <td>
                                        <div class="dropdown">
                                            <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </i>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                 aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Yes, I Received</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Software Engineer</td>
                                    <td>IT</td>
                                    <td> xyz@gmail.com</td>
                                    <td>+91 8141539620</td>
                                    <td>Free</td>
                                    <td>$0</td>
                                    <td>09-10-2020, 10:10</td>
                                    <td><i class="far fa-eye"></i></td>
                                    <td>
                                        <div class="dropdown">
                                            <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </i>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                 aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Download Note</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Software Engineer</td>
                                    <td>IT</td>
                                    <td> xyz@gmail.com</td>
                                    <td>+91 8141539620</td>
                                    <td>Paid</td>
                                    <td>$500</td>
                                    <td>09-10-2020, 10:10</td>
                                    <td><i class="far fa-eye"></td>
                                    <td>
                                        <div class="dropdown">
                                            <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </i>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                 aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Download Note</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Software Engineer</td>
                                    <td>IT</td>
                                    <td> xyz@gmail.com</td>
                                    <td>+91 8141539620</td>
                                    <td>Paid</td>
                                    <td>$200</td>
                                    <td>09-10-2020, 10:10</td>
                                    <td><i class="far fa-eye"></td>
                                    <td>
                                        <div class="dropdown">
                                            <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </i>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                 aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Download Note</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Software Engineer</td>
                                    <td>IT</td>
                                    <td> xyz@gmail.com</td>
                                    <td>+91 8141539620</td>
                                    <td>Free</td>
                                    <td>$0</td>
                                    <td>09-10-2020, 10:10</td>
                                    <td><i class="far fa-eye"></i></td>
                                    <td>
                                        <div class="dropdown">
                                            <i class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </i>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-right "
                                                 aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Download Note</a>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class="row paging">
                <div class="col-md-12 text-center">
                    <div class="pagination ">
                        <a href="#" style="margin-right: 10px;"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#">5</a>
                        <a href="#" style="margin-left: 10px;"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>



    <!-- Bootstrap JS -->
    <script src="js/bootstrap/popper.min.js"></script>



</body>

</html>