
.form-control:focus {
    border-color: #6255a5 !important;
    box-shadow: 0 0 0 0.2rem rgba(98, 85, 165, 0.25) !important;
} 




/*############ Pagination ########*/


.pagination {
    display: inline-block;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px

}

.pagination > a {
    color: #333333;
    float: left;
    width: 34px;
    height: 34px;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none !important;
    border-radius: 50% ;
    transition: background-color .3s;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
}

.pagination > a.active {
    background-color: #6255a5;
    color: white;
}

.pagination > a:hover:not(.active) {
    background-color: #ddd;
    color: black;

}


/*------------------
    Member Details
-------------------*/




.main-section-title {
    margin-top: 60px;

}


.main-section-title span {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

.member-info-left {


    border-right: 1px solid #d1d1d1;
}

#md-upper-box {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 30px;
}

.member-info-left img {
    margin-top: 12px;
}

.md-upper-table {
    border: none;
    margin-top: 0;
}

.md-upper-table .columnname {
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;
    border: none;
    padding: 0;

}

.md-upper-table .columndata {
    font-size: 14px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;
    border: none;
    padding: 0;
}

.member-info-right table {
    margin-left: 30px;
}

.test:after {
    content: '\2807';
    font-size: 20px;
    color: #d1d1d1;
}

.bottom-section-title {
    margin-top: 40px;
    margin-bottom: 20px;
}

.bottom-section-title span {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

#md-bottom-table {
    width: 100%;
    border: 1px solid #d1d1d1;
}

.note {
    color: #6255a5;
}

/*-----------------------
    Pagination
-----------------------*/
.pagination {
    display: inline-block;
    justify-content: center;
    margin-top: 50px;

}

.pagination a {
    color: #333333;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50%;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #6255a5;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}




/*----------------------------
    Note Details Page
----------------------------*/
.nd-main-container {
    margin-top: 120px;
}


.note-section {
    padding-bottom: 40px;
    box-shadow: 0px 1px #d1d1d1;
}

.note-section-title {
    font-size: 24px;
    color: #6255a5;
    line-height: 25px;
    font-weight: 600;
    padding-left: 14px;
}

.book-img {
    padding-top: 10px;
    height: 300px;
    width: 240px;
}

.book-details {
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}

.nd-book-title {
    font-size: 24px;
    line-height: 35px;
    color: #6255a5;
    font-weight: 600;
}

.book-subtitle {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
}

.book-description {
    font-size: 15px;
    font-weight: 400;
    color: #333333;
    line-height: 20px;
    max-width: 400px;
    padding-bottom: 30px;
}

.download-btn {
    font-size: 15px;
    font-weight: 400;
    background-color: #6255a5;
    line-height: 18px;
    color: white;
    width: 150px;
    height: 40px;
    border-style: none;
    border-radius: 3px;
}

/*-------- Thank You PopUp ----------*/
.model {

    text-align: center;
    width: 100%;

}

.model > img {
    height: 63px;
    width: 63px;
    margin-bottom: 20px;
}

.model > span {
    font-size: 26px;
    font-weight: 600;
    line-height: 20px;
    color: #6255a5;
}

.model-body {
    padding: 30px;
}

.model-body > span {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    line-height: 22px;

}

.model-body > p {
    font-size: 16px;
    font-weight: 400;
    color: #333333;
    line-height: 22px;

}

.checked {
    color: rgb(254, 193, 6);

}



.book-details-table .column-name {
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    color: #333333;


}

.book-details-table .column-data {
    font-size: 15px;
    font-weight: 600;
    line-height: 36px;
    color: #6255a5;
    display: flex;
    justify-content: flex-end;


}

.borderless tr td {
    border: none;
    padding: 2px;
}

.review-note {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #df3434;
}

.note-preview {
    padding-top: 60px;
    padding-bottom: 60px;
}

.note-preview-title {
    font-size: 20px;
    color: #6255a5;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

iframe {
    border: 1px solid #d1d1d1;
    overflow: hidden;
    width: 450px;
    height: 400px;
    border-radius: 3px;
    padding-top: 20px;
    border-radius: 3px;
}

.reviews-section .review {
    margin: 30px;
    padding: 0;
    border-bottom: 1px solid #d1d1d1;
}

.customer-review-title {
    font-size: 20px;
    color: #6255a5;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}


.reviews-section {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
}

.review {
    padding: 10px 30px 10px 30px;


}

.customer-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #d1d1d1;

}

.customer-details {
    padding-left: 20px;

}

.given-review {
    font-size: 16px;
    color: #333333;
    line-height: 24px;
    font-weight: 400;
}





/*-------------------------
    SearchNotes Page
-------------------------*/
.bg-image {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-container {

    padding: 10px;
}




.book {
    width: 15rem;
}

.note-detail {

    border: 1px solid grey;
    border-radius: 3px;
    margin: 15px 0;
    height: 450px;

}

.book-title h5 {

    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #6255a5;

}

.note-detail ul li {


    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding-top: 10px;

}



.note-detail ul li i {

    margin-right: 10px;

}


#search-notes-text h2 {


    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    color: #fff;

}

.search-main-container {

    padding-top: 50px;
    padding-bottom: 50px;

}

.search-main-container h2 {


    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;

}

#grey-bg {

    padding: 30px 15px 14px 15px;
    background-color: #f9f9f9;

}

.input-in-grey-box {


    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    height: 50px;

}

.note-detail {

    border: 1px solid grey;
    border-radius: 3px;
    margin: 15px 0;

}

.note-detail ul {

    list-style: none;
    padding: 0;

}

.red-text {

    color: red;

}


.note-detail .reviews {


    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    padding-top: 15px;

}
