@media (max-width: 320px)
{
  .top-logo
  {
    padding-top: 30%;
    margin-left: 68%;
  }
  .card
  {
    margin-right: 3%;
    margin-left: 0%;
  }
 
  #evbtn
  {
    width:260px;
     margin-right: 30px !important; 
  }
}

@media (min-width: 321px) and (max-width: 450px)
{
	.top-logo
  {
    padding-top: 10%;
    margin-left: 50%;
  }
  .card
  {
    margin-left: -1%;
    margin-right: 0%;
  } 

  #evbtn
  {
    width:260px;
    margin-right: 30px !important;
  } 
}

@media (min-width: 451px) and (max-width: 575px)
{
  .top-logo
  {
    padding-top: 7%;
    margin-left: 10%;
  }
  .card
  {
    margin-left: -1%;
    margin-right: 3%;
  }
 
  #evbtn
  {
    width:390px;
    margin-right: 30px !important;
  }
}
@media (min-width: 575px) and (max-width: 767px)
{
  .top-logo
  {
    margin-left:7%;
    padding-top: 7%;
  }
  .card
  {
    margin-left: -6%;
    margin-right: 3%;
  }
  #evbtn
  {
    width:450px;
    margin-right: 30px !important;
  }
}

@media (min-width: 767px) and (max-width: 991px)
{
  .top-logo
  {
    padding-top: 5%;
    margin-left: 2%;
  }
  .card
  {
    margin-left: 8%;
    margin-right: 8%;
  }
  
}

@media (min-width: 991px) and (max-width: 1024px)
{
	.top-logo
  {
    padding-top: 5%;
    margin-left: -1%;
  }
  .card
  {
    margin-left: 19%;
    margin-right: 5%;
  }
 
}

@media (min-width: 1025px) and (max-width: 1200px)
{
  .top-logo
  {
    padding-top: 5%;
    margin-left: -1%;
  }
  .card
  {
    margin-left: 19%;
    margin-right: 5%;
  }
 
}

@media (min-width: 1201px) and (max-width: 1365px)
{
	.top-logo
  {
    padding-top: 5%;
  }
	
}

@media (min-width: 1366px) and (max-width: 1440px)
{
  .top-logo
  {
    padding-top: 5%;
  }

}

@media (min-width: 1440px)
{
  .top-logo
  {
    padding-top: 5%;
  }

}