/*----------- For Maximum Size 320 ---------*/

@media (max-width: 320px) {

    /*-----Header-----*/

    .navbar-brand img {
        height: 27px;

    }

    #navbarSupportedContent {
        margin-left: 0%;
    }

    .navbar-brand {
        margin-left: 1%;
    }

    .note-section {
        border-bottom: 1px solid #d1d1d1;
        box-shadow: none;
    }



    /*-----NoteDetails Page-----*/

    .book-img {
        height: 200px;
        width: 150px;
    }

    .nd-main-container {
        margin: 80px 0px 0px 10px;
    }

    .book-description {
        font-size: 15px;
        font-weight: 400;
        color: #333333;
        line-height: 18px;
        max-width: 400px;
        padding-bottom: 20px;
    }

    .download-btn {
        font-size: 12px;
        font-weight: 400;
        background-color: #6255a5;
        line-height: 14px;
        color: white;
        width: 130px;
        height: 30px;
        border-style: none;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .book-description {
        padding-bottom: 10px;
    }

    .borderless tr td {
        border: none;
        padding: 0px;
    }

    .book-details-table .column-name {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #333333;
        width: 50%;


    }

    .book-details-table .column-data {
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        color: #6255a5;
        text-align: left;

    }

    .note-preview {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .customer-review-title {
        margin-top: 20px;
    }

    .social-icon {
        text-align: left;
        padding: 25px;
    }


    /*----- Search Page-----*/


    .book-title h5 {
        font-size: 10px;
        font-weight: 600;
        line-height: 26px;
        color: #6255a5;
    }
}



/*----------- For Size 320 to Size 575  ---------*/

@media (min-width: 321px) and (max-width: 575px) {

    /*-----Heeader-----*/
    .navbar-brand img {
        height: 30px;

    }

    #navbarSupportedContent {
        margin-left: 0%;
    }

    .navbar-brand {
        margin-left: 1%;
    }

    /*-----NoteDetails Page-----*/
    .note-section {
        border-bottom: 1px solid #d1d1d1;
        box-shadow: none;
    }

    .book-img {
        height: 200px;
        width: 150px;
    }

    .nd-main-container {
        margin: 80px 0px 0px 10px;
    }

    .book-description {
        font-size: 15px;
        font-weight: 400;
        color: #333333;
        line-height: 18px;
        max-width: 400px;
        padding-bottom: 20px;
    }

    .download-btn {
        font-size: 12px;
        font-weight: 400;
        background-color: #6255a5;
        line-height: 14px;
        color: white;
        width: 130px;
        height: 30px;
        border-style: none;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .book-description {
        padding-bottom: 10px;
    }

    .borderless tr td {
        border: none;
        padding: 2px;
    }

    .book-details-table .column-name {
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        color: #333333;


    }

    .book-details-table .column-data {
        font-size: 15px;
        font-weight: 600;
        line-height: 26px;
        color: #6255a5;
        text-align: left;

    }

    .note-preview {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .customer-review-title {
        margin-top: 20px;
    }

    iframe {
        width: 100%;
    }
}

/*----------- For Size 575 to Size 767  ---------*/

@media (min-width: 575px) and (max-width: 767px) {
    /*-----Heeader-----*/

    .navbar-brand img {
        height: 35px;
    }

    #navbarSupportedContent {
        margin-left: 0%;
    }

    .navbar-brand {
        margin-left: 0%;
    }

    /*----- NoteDetails Page-----*/

    .note-section {
        border-bottom: 1px solid #d1d1d1;
        box-shadow: none;

    }

    .note-preview {
        margin-left: 2%;
    }

    .book-img {
        height: 200px;
        width: 150px;
    }

    .nd-main-container .container {
        margin: 80px 0px 0px 10px;
    }

    .book-description {
        font-size: 15px;
        font-weight: 400;
        color: #333333;
        line-height: 18px;
        max-width: 400px;
        padding-bottom: 20px;
    }

    iframe {
        width: 100%;
    }

    reviews-section {
        width: 100%;
    }

    .download-btn {
        font-size: 12px;
        font-weight: 400;
        background-color: #6255a5;
        line-height: 14px;
        color: white;
        width: 130px;
        height: 30px;
        border-style: none;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .book-description {
        padding-bottom: 10px;

    }

    .borderless tr td {
        border: none;
        padding: 0px;
    }

    .book-details-table .column-name {
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        color: #333333;
    }

    .book-details-table .column-data {
        font-size: 15px;
        font-weight: 600;
        line-height: 26px;
        color: #6255a5;
        text-align: left;
    }

    .note-preview {
        padding-top: 30px;
        padding-bottom: 30px;
    }



    .customer-review-title {
        margin-top: 20px;
    }
}

/*----------- For Size 767 to Size 991  ---------*/

@media (min-width: 767px) and (max-width: 991px) {

    /*-----Heeader-----*/

    #navbarSupportedContent {
        margin-left: 0%;
    }



    /*----- NoteDetails Page-----*/

    .note-section {
        border-bottom: 1px solid #d1d1d1;
        box-shadow: none;
    }

    .note-section-title {
        font-size: 20px;
    }

    .book-img {
        height: 250px;
        width: 150px;
    }

    .nd-book-title {
        font-size: 17px;

    }

    .book-description {
        font-size: 11px;
        font-weight: 400;
        color: #333333;
        line-height: 14px;
        max-width: 400px;
        padding-bottom: 5px;
    }



    .download-btn {
        font-size: 12px;
        font-weight: 400;
        background-color: #6255a5;
        line-height: 14px;
        color: white;
        width: 130px;
        height: 30px;
        border-style: none;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .book-description {
        padding-bottom: 10px;

    }

    iframe {
        width: 90%;
        height: 576px;
    }

    .borderless tr td {
        border: none;
        padding: 0px;
    }

    .book-details-table .column-name {
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        color: #333333;
    }

    .book-details-table .column-data {
        font-size: 12px;
        font-weight: 600;
        line-height: 26px;
        color: #6255a5;
        text-align: left;
    }

    .borderless tr td {
        border: none;
        padding: 0px;
    }

    .note-preview {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .customer-details {
        margin-left: 20px;
        padding-left: 0px;
    }

    .reviews-section .review {
        margin: 15px 25px;
    }


    /*----- MemberDetails Page-----*/


    .member-info-left img {
        width: 80px;
        height: 80px;
    }



    .navbar-brand {
        margin-left: 2%;
    }

    .md-upper-right {
        max-width: 77%;
        padding-left: 0px;

    }



}

/*----------- For Size 991 to Size 1024  ---------*/

@media (min-width: 991px) and (max-width: 1024px) {


    /*-----Heeader-----*/

    #navbarSupportedContent {
        margin-left: 3%;
    }

    .navbar-brand {
        margin-left: 4%;
    }

    /*----- NoteDetails Page-----*/

    .book-img {
        height: 290px;
        width: 220px;
    }

    iframe {
        width: 95%;
        height: 592px;
    }


}


/*----------- For Size 1024 to Size 1200  ---------*/


@media (min-width: 1024px) and (max-width: 1200px) {

    /*-----Heeader-----*/

    #navbarSupportedContent {
        margin-left: 4%;
    }

    .navbar-brand {
        margin-left: 4%;
    }

    /*----- NoteDetails Page-----*/

    .book-img {
        height: 290px;
        width: 220px;
    }

    iframe {
        width: 90%;
        height: 592px;
    }
}


/*----------- For Size 1201 to Size 1365  ---------*/

@media (min-width: 1200px) and (max-width: 1365px) {

    /*-----Heeader-----*/

    #navbarSupportedContent {
        margin-left: 20%;
    }

    .navbar-brand {
        margin-left: 3%;
    }

    /*----- NoteDetails Page-----*/

    iframe {
        width: 95%;
        height: 522px;
    }
}


/*----------- For Size 1366 to Size 1440  ---------*/

@media (min-width: 1366px) and (max-width: 1440px) {

    /*-----Heeader-----*/
    .navbar-brand {
        margin-left: 7%;
    }

    /*----- NoteDetails Page-----*/
    iframe {
        height: 522px;
    }
}


/*----------- For Maximum Size 1440  ---------*/

@media (min-width: 1440px) {

    /*----- NoteDetails Page-----*/
    iframe {
        height: 522px;
    }
}
