
body{
    font-family: "Open Sans", sans-serif;
}

.navbar{
    min-height: 100px;
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.08);
}


.log_btn{
    background-color: #6255a5;
    width: 89px;
    height: 30px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #fff !important;
    font-weight: 400;
    line-height: 22%;
}

.btn:focus,.btn:active{
    outline:none !important;
    box-shadow: 0px 0px 0px 1px #6255a5;
}

.item-set{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu-item > a{
    color: black;
    text-decoration: none;
}

.menu-item .dropdown > a{
   color:black;
    text-decoration: none;
}

.navbar-nav{
    display: flex;
    align-items: center;

}


.navbar-nav > li{
    font-size: 16px;
    font-weight: 600;
    color: black !important;
    padding: 10px;
    margin: 10px 0px 10px 20px;
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.dropdown-item:active {
    background-color: #6255a5;
    color: white !important;
    text-decoration: none !important;
}


.navbar .navbar-nav .menu-link.active {
    color: #6255a5;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
}

.navbar .navbar-nav .menu-link:hover {
    color: #6255a5;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    text-decoration: none;
}

.navbar .navbar-nav .dropdown.active {
    /* border-bottom: 3px solid #6255a5;
    color: #6255a5;*/
    color: #6255a5 !important;
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
}

.navbar .navbar-nav .dropdown-item.active {
    /* border-bottom: 3px solid #6255a5;
    color: #6255a5;*/
    background-color: #6255a5 !important;
}

.navbar .navbar-nav .dropdown:hover {
    color: #6255a5;
    text-decoration: none !important;
}




#footer2{
    display: flex;
    align-items: center;
}

#footer2{
    padding-top: 10px;
    border-top: 1px solid #d1d1d1;
}