@media (max-width: 320px) {

    /* General Banner Box */
    .banner-box img {
        width: 100%;
        height: 150px;
    }

    .banner-box h1 {
        font-size: 34px;
        line-height: 38px;
    }

    .banner-box {
        margin-bottom: 30px;
    }

    /* General Submit Button*/
    .submit-btn {
        width: 100%;
        font-size: 16px;
        height: 45px;
        font-weight: 600;
    }

    /* Contact US Page*/
    #contactus-box h2 {
        font-size: 30px;
        line-height: 34px;
    }

    #contactus-box p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    #contactus-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #contactus-box input {
        font-size: 14px;
        line-height: 18px;
    }

    #contactus-box #comments {
        max-height: 120px;
    }

    /* User Profile Page */
    #uprofile-box h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    #uprofile-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #uprofile-box input {
        font-size: 14px;
        line-height: 18px;
    }

    /* Add Notes Page */
    #add-notes-box h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    #add-notes-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box input {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box select {
        font-size: 14px;
        line-height: 18px;
        padding-left: 5px;
    }

    #add-notes-box textarea {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box #sell-for {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box .radio-btn {
        font-size: 12px;
        padding-left: 38px;
        padding-top: 8px;
    }

        #add-notes-box .radio-btn .border-span {
            width: 28px;
            height: 28px;
        }

            #add-notes-box .radio-btn .border-span::after {
                width: 28px;
                height: 28px;
            }

        #add-notes-box .radio-btn span {
            width: 28px;
            height: 28px;
        }

            #add-notes-box .radio-btn span::after {
                width: 13px;
                height: 13px;
            }

    #an-npupload-btn {
        height: auto;
    }

    #an-publish-btn {
        margin-left: 0;
        margin-top: 20px;
    }

    /* FAQ Page */
    #faq #faq-banner-heading {
        font-size: 24px;
        text-align: center;
    }

    #faq #faq-box.container {
        margin-left: 0;
    }

    #faq .accordion {
        margin-bottom: 30px;
    }

    #faq #faq-box .card {
        width: auto;
    }

    #faq #faq-box .card-header {
        padding-left: 1px;
        height: 50px;
    }

    #faq #faq-box h2 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    #faq #faq-box .card-header button {
        font-size: 12px;
        line-height: 16px;
        margin-left: 5px;
    }

    #hello {
    }

    #faq #faq-box .card-header button img {
        width: 12px;
        right: 10px;
        top: 18px;
    }

    #faq #faq-box .card-body {
        padding-left: 0;
        font-size: 13px;
        line-height: 15px;
    }
}



@media (min-width: 321px) and (max-width: 575px) {

    /* General Banner Box */
    .banner-box img {
        width: 100%;
        height: 150px;
    }

    .banner-box h1 {
        font-size: 35px;
        line-height: 39px;
    }

    .banner-box {
        margin-bottom: 30px;
    }

    /* General Submit Button*/
    .submit-btn {
        width: 100%;
        font-size: 17px;
        font-weight: 700;
    }

    /* Contact US Page*/
    #contactus-box h2 {
        font-size: 30px;
        line-height: 34px;
    }

    #contactus-box p {
        font-size: 13px;
        margin-bottom: 30px;
    }

    #contactus-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #contactus-box input {
        font-size: 14px;
        line-height: 18px;
    }

    #contactus-box #comments {
        max-height: 150px;
    }

    /* User Profile Page */
    #uprofile-box h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    #uprofile-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #uprofile-box input {
        font-size: 14px;
        line-height: 18px;
    }

    /* Add Notes Page */
    #add-notes-box h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    #add-notes-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box input {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box select {
        font-size: 14px;
        line-height: 18px;
        padding-left: 5px
    }

    #add-notes-box textarea {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box #sell-for {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box .radio-btn {
        font-size: 16px;
        padding-left: 38px;
        padding-top: 10px;
    }

        #add-notes-box .radio-btn .border-span {
            width: 30px;
            height: 30px;
        }

            #add-notes-box .radio-btn .border-span::after {
                width: 30px;
                height: 30px;
            }

        #add-notes-box .radio-btn span {
            width: 30px;
            height: 30px;
        }

            #add-notes-box .radio-btn span::after {
                width: 15px;
                height: 15px;
            }

    #an-npupload-btn {
        height: auto;
    }

    #an-publish-btn {
        margin-left: 0;
        margin-top: 20px;
    }

    /* FAQ Page */
    #faq #faq-banner-heading {
        font-size: 30px;
        text-align: center;
    }

    #faq #faq-box.container {
        margin-left: 0;
    }

    #faq .accordion {
        margin-bottom: 35px;
    }

    #faq #faq-box .card {
        width: auto;
    }

    #faq #faq-box .card-header {
        padding-left: 1px;
        height: 50px;
    }

    #faq #faq-box h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 30px;
    }

    #faq #faq-box .card-header button {
        font-size: 14px;
        line-height: 20px;
        margin-left: 5px;
    }
}



@media (min-width: 575px) and (max-width: 767px) {

    /* General Banner Box */
    .banner-box img {
        width: 100%;
        height: 180px;
    }

    .banner-box h1 {
        font-size: 39px;
        line-height: 43px;
    }

    .banner-box {
        margin-bottom: 40px;
    }

    /* Contact US Page*/
    #contactus-box h2 {
        font-size: 34px;
        line-height: 38px;
    }

    #contactus-box p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    #contactus-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #contactus-box input {
        font-size: 14px;
        line-height: 18px;
    }

    #contactus-box #comments {
        max-height: 180px;
    }

    /* User Profile Page */
    #uprofile-box h2 {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    #uprofile-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #uprofile-box input {
        font-size: 14px;
        line-height: 18px;
    }

    /* Add Notes Page */
    #add-notes-box h2 {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    #add-notes-box label {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box input {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box select {
        font-size: 14px;
        line-height: 18px;
        padding-left: 5px;
    }

    #add-notes-box textarea {
        font-size: 14px;
        line-height: 18px;
    }

    #add-notes-box .radio-btn {
        font-size: 18px;
        padding-left: 40px;
        padding-top: 12px;
    }

        #add-notes-box .radio-btn .border-span {
            width: 32px;
            height: 32px;
        }

            #add-notes-box .radio-btn .border-span::after {
                width: 32px;
                height: 32px;
            }

        #add-notes-box .radio-btn span {
            width: 32px;
            height: 32px;
        }

            #add-notes-box .radio-btn span::after {
                width: 17px;
                height: 17px;
            }

    #add-notes-box #sell-for {
        font-size: 14px;
        line-height: 18px;
    }

    #an-npupload-btn {
        height: auto;
    }

    /* FAQ Page */
    #faq #faq-banner-heading {
        font-size: 32px;
        width: 100%;
    }

    #faq #faq-box.container {
        margin-left: 4%;
    }

    #faq .accordion {
        margin-bottom: 40px;
    }

    #faq #faq-box .card {
        width: auto;
    }

    #faq #faq-box h2 {
        font-size: 30px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    #faq #faq-box .card-header button {
        font-size: 16px;
        line-height: 20px;
    }
}



@media (min-width: 767px) and (max-width: 991px) {

    /* General Banner Box */
    .banner-box img {
        width: 100%;
        height: 200px;
    }

    .banner-box h1 {
        font-size: 40px;
        line-height: 44px;
    }

    .banner-box {
        margin-bottom: 50px;
        width: 100%;
    }

    /* Contact US Page*/
    #contactus-box h2 {
        font-size: 34px;
        line-height: 38px;
    }

    #contactus-box p {
        font-size: 16px;
        margin-bottom: 30px;
    }

    #contactus-box label {
        font-size: 16px;
        line-height: 20px;
    }

    #contactus-box input {
        font-size: 16px;
        line-height: 20px;
    }

    /* User Profile Page */
    #uprofile-box h2 {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    #uprofile-box label {
        font-size: 16px;
        line-height: 20px;
    }

    #uprofile-box input {
        font-size: 16px;
        line-height: 20px;
    }

    #uprofile-box {
        margin: 0 10% 0 0;
        padding-left: 10%;
    }

    /* Add Notes Page */
    #add-notes-box h2 {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    #add-notes-box label {
        font-size: 16px;
        line-height: 20px;
    }

    #add-notes-box input {
        font-size: 16px;
        line-height: 20px;
    }

    #add-notes-box select {
        font-size: 16px;
        line-height: 20px;
        padding-left: 5px;
    }

    #add-notes-box textarea {
        font-size: 16px;
        line-height: 20px;
    }

    #add-notes-box .form-check label {
        transform: translate(6px, -13px);
    }

    #add-notes-box .form-check input {
        width: 36px;
        height: 36px;
    }

    #add-notes-box #sell-for {
        font-size: 16px;
        line-height: 20px;
    }

    #an-npupload-btn {
        height: 149px;
    }

    #add-notes-box {
        margin: 0 10% 0 0;
        padding-left: 10%;
    }

    /* FAQ Page */
    #faq #faq-banner-heading {
        font-size: 40px;
        width: 100%;
    }

    #faq #faq-box.container {
        margin-left: 0%;
    }

    #faq .accordion {
        margin-bottom: 45px;
    }

    #faq #faq-box .card {
        width: auto;
    }

    #faq #faq-box h2 {
        font-size: 34px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    #faq-box {
        margin: 0 10% 0 0;
        padding-left: 10%;
    }
}



@media (min-width: 991px) and (max-width: 1024px) {


    /* Add Notes Page */
    #add-notes-box select {
        font-size: 16px;
        line-height: 20px;
        padding-left: 5px;
    }

    /* FAQ Page */
    #faq #faq-box.container {
        margin-left: 2%;
    }

    #faq #faq-box .card {
        width: auto;
    }
}



@media (min-width: 1024px) and (max-width: 1200px) {


    /* Add Notes Page */
    #add-notes-box select {
        font-size: 16px;
        line-height: 20px;
        padding-left: 5px;
    }

    /* FAQ Page */
    #faq #faq-box.container {
        margin-left: 3%;
    }

    #faq #faq-box .card {
        width: auto;
    }
}



@media (min-width: 1201px) and (max-width: 1365px) {


    /* Add Notes Page */
    #add-notes-box select {
        font-size: 16px;
        line-height: 20px;
        padding-left: 5px;
    }

    /* FAQ Page */
    #faq #faq-box.container {
        margin-left: 3%;
    }

    #faq #faq-box .card {
        width: auto;
    }
}



@media (min-width: 1365px) and (max-width: 1440px) {

    /* Add Notes Page */
    #add-notes-box select {
        font-size: 16px;
        line-height: 20px;
        padding-left: 5px;
    }

    /* FAQ Page */
    #faq #faq-box .card {
        width: auto;
    }
}



@media (min-width: 1440px) {

    /* Add Notes Page */
    #add-notes-box select {
        font-size: 16px;
        line-height: 20px;
        padding-left: 5px;
    }

    /* FAQ Page */
    #faq #faq-box .card {
        width: auto;
    }
}





/* =========================================
                searc-notes.html
============================================ */

@media (max-width: 1200px) {
    #search-notes .input-box-style {
        font-size: 14px;
    }

    .note-details-box {
        height: 610px;
    }

        .note-details-box .note-name-title {
            height: 100px;
        }

    .search-notes-input-box select.input-box-style {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: inline-block;
    }
}

@media (max-width: 992px) {
    .note-details-box {
        height: 600px;
    }

        .note-details-box .note-name-title {
            height: 80px;
        }
}

@media (max-width: 767px) {
    .padding-right-0 {
        padding-right: 15px;
    }

    .note-details-box img {
        height: 200px;
    }

    .note-details-box .note-details {
        padding: 20px;
    }

    .note-details-box .note-name-title {
        font-size: 18px;
        line-height: 24px;
        height: 85px;
    }

    .note-details-box .note-info-with-icon {
        font-size: 14px;
        line-height: 18px;
    }

    .notes-rating .review-count {
        font-size: 13px;
        line-height: 15px;
    }

    .note-details-box {
        height: 540px;
    }

    #search-notes .small-height-bg p {
        font-size: 41px;
    }
}

@media (max-width: 576px) {
    .note-details-box img {
        height: 253px;
    }

    .note-details-box .note-name-title {
        height: 75px;
    }

    .note-details-box {
        height: 550px;
    }
}

@media (max-width: 406px) {
    .note-details-box {
        height: 560px;
    }
}

@media (max-width: 322px) {
    .note-details-box {
        height: 570px;
    }

        .note-details-box .note-name-title {
            height: 85px;
        }
}
