.form-control:focus {
    border-color: #6255a5 !important;
    box-shadow: 0 0 0 0.2rem rgba(98, 85, 165, 0.25) !important;
} 



body {
    padding-top: 80px;
  }

/* =========================================
            General Submit Button
============================================ */
.submit-btn {
    color: #fff;
    background-color: #6255a5;
    height: 50px;
    width: 150px;
    border-radius: 3px;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    border: none;
    font-weight: 700;
}

.submit-btn:hover {
    color: #fff;
    background-color: dimgrey;
}


/* =========================================
                My Profile(Admin)
============================================ */
#my-profile .container {
    height: 100%;
    width: 100%;
    margin: 0;
}

#my-profile-box {
    padding: 0 10% 60px 10%;
}

#my-profile-box h2 {
    color: #6255a5;
    font-family: Open Sans, sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 40px;
    margin-top: 60px;
}

#my-profile-box label {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-bottom: 10px;
}

#my-profile-box input {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    border-radius: 3px;
    height: 50px;
    margin-bottom: 30px;
    border: 1px solid #d1d1d1;
}

#my-profile-box select {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    height: 35px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    width: 20%;
    height: 50px;
    padding-left: 5px;
    background: none;
}

#my-profile-box select:hover,
#my-profile-box select:focus {
    outline: none;
    border: 1px solid #d1d1d1;
}

#my-profile-box #mp-pnumber {
    width: 78%;
    display: inline;
    float: right;
}

#my-profile-box #mp-upload-btn {
    width: 100%;
    background: none;
    border: 1px solid #d1d1d1;
    color: #8a8a8a;
    padding-top: 15px;
    margin-bottom: 30px;
}

#my-profile-box #mp-upload-btn:focus,
#my-profile-box #mp-upload-btn:hover {
    outline: none;
}

#mp-img-preview {
    display: none;
    width: 100%;
    padding: 0;
}
