.form-control:focus {
    border-color: #6255a5 !important;
    box-shadow: 0 0 0 0.2rem rgba(98, 85, 165, 0.25) !important;
} 


/* =========================================
                General CSS
============================================ */
body {
	height: 100%;
	font-family: "Open Sans", sans-serif;
	color: #d1d1d1;
	margin: 0 auto;
}

.container {
	max-width: 1440px;
}


/* =========================================
                Button
============================================ */
.btn-general {
	border-radius: 3px;
	width: 112px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	line-height: 22px;
	border: none;
	outline: none;
}

.allBtn {
	background-color: #6255a5;
}

.btn-approve {
	background-color: #28a745;
	height: 40px;
	margin-right: 10px;
}

.btn-reject {
	background-color: #ff3636;
	height: 40px;
	margin-right: 10px;
}

.btn-inreview {
	background-color: #cccccc;
	height: 40px;
	margin-right: 40px;
}

.btn-search {
	height: 50px;
	margin-left: 10px;
}

.btn-add {
	height: 50px;
}

i{
	color: #d1d1d1;
}

/* =========================================
                Main
============================================ */
#main {
	margin-top: 160px;
}


.heading h2 {
	margin: 0;
	font-weight: 600;
	/*	font-size: 24px;*/
	line-height: 28px;
	color: #6255a5;
}

.heading {
	margin-bottom: 30px;
	padding: 0;
}

.text p {
	margin: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #333333;
}

.text {
	padding: 0;
	margin-bottom: 10px;
}

table {
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	margin-bottom: 0;
	height: 444px;
}

tr {
	height: 75px;
	line-height: 50px;
}

tbody > tr:hover {
	background-color: none;
	transform: scale(1.001);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	-webkit-transform: scale(1.001);
	-moz-transform: scale(1.001);
	-ms-transform: scale(1.001);
	-o-transform: scale(1.001);
}

td.menu-button {
	padding-right: 0;
	width: 400px;
}

td > span > i {
	margin: 0 30px 0 0;
	padding: 0;
}

.note-title {
	color: #6255a5;
}

.pagination {
	display: inline-block;
	margin-top: 25px;
}

.pagination a {
	color: #333333;
	padding: 8px 16px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-decoration: none;
	border-radius: 50%;
	transition: background-color .3s;
}

.fa-size {
	width: 8px;
	height: 16px;
	color: #333333;
}

.pagination a.active {
	background-color: #6255a5;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}

footer {
	position: fixed;
	display: flex;
	border-top: 1px solid #d1d1d1;
	background-color: #ffffff;
	bottom: 0;
	line-height: 50px;
	height: 50px;
	width: 100%;
	color: #333333;
}

/* =========================================
                Dropdown Search
============================================ */

.dropbtn {
	background-color: #fff;
	padding: 0 10px;
	border: 1px solid #d1d1d1;
	width: 174px;
	height: 50px;
	color: #333333;
	line-height: 20px;
	font-weight: 400;
	font-size: 16px;
	cursor: pointer;
	margin-bottom: 20px;
	cursor: pointer;
}

.dropbtn > span {
	float: left;
}

.dropbtn > i {
	float: right;
	font-size: 32px;
	line-height: 20px;
	color: #d1d1d1;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	min-width: 230px;
	overflow: auto;
	border: 1px solid #d1d1d1;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #6255a5;
	color: #ffffff;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.show {
	display: block;
}

.has-search .form-control {
	padding-left: 2.375rem;
	width: 322px;
	height: 50px;
	line-height: 20px;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

/* =========================================
               Modal Popup
============================================ */
.modal {
	top: 150px;
	color: #6255a5;
	font-family: 'Open Sans', sans-serif;
	line-height: 28px;
}

.modal-content {
	padding: 5px 5px 30px 40px;
}

.modal-footer-button {
	float: right;
	margin-top: 30px;
}

#input {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	border: 1px solid #d1d1d1;
	outline: 0px;
}

/* =========================================
                Form
============================================ */

form.myForm {
	margin-bottom: 110px;
}

form.myForm label {
	font-size: 16px;
	color: #333333;
	line-height: 20px;
	font-weight: 400;
}

form.myForm input {
	width: 705px;
	height: 50px;
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 30px;
	color: #8a8a8a;
}

form.myForm textarea {
	width: 705px;
	height: 50px;
	border: 1px solid #d1d1d1;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 30px;
	color: #8a8a8a;
}

form.myForm input:hover,
form.myForm input:active
{
	border-color: #6255a5;
}