/* ######## Media Queries ########## */


/* Extra Large Devices */
@media (min-width: 1200px) {

}

/* Large Devices */
@media(min-width: 992px) and (max-width: 1199px){
	
	footer{
		text-align: center;
		display: inline-flex;
	}
	
	footer.container{
		margin-left: 0 !important;
	}
	footer.span{
		float: left !important;
	}
	
}

/* Medium Devices */
@media(min-width: 768px) and (max-width: 991px){

}

/* Small Devices */
@media(max-width: 767px){
   
}
